body {
    font-family: 'Brandon Grotesque', 'Josefin Sans';
}

.list-item a {
    height: 50px;
}


.dropdown-menu ul li > a svg, .dropdown-menu ul li label svg {
    height: 100%;
    width: 100%;
    fill: white;
    position: relative;
    margin: -5px;
    padding: 0;
    width: 100%;
    height: 100%;
    /*left: /*0;*/
    /*top: 0*/
}
.dropdown-menu.dark ul li > a svg path {
    fill: white;
}

li {
    text-transform:capitalize;
}
.list-svg-container {
    width: 50px;
    height: 50px;
    float: left;
}

.container {
    padding: 3em;
    margin: 10em;
    border-radius: 50px;
    border-color: #1e7b9a;
    border-width: 1em;
    border-style: solid;

}

button {
    background-color: #1e7b9a;

    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #25a6c8;
}

.row {
    text-align: center;
}
svg {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    stroke: none;*/
}